<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>All Lessons - Untitled Learning Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/site.css">
    <script src="/public/script.js"></script>
    <script src="/public/lessonsPage.js"></script>
</head>
<body onload="changeDifficultyText(); setup();">
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/profile">My Profile</a></li>
    </ul>

    <div class="jumbotron text-center">
        <h1>Browse Lessons</h1>
    </div>

    <main>
    <div class="container">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"><h3>Topic</h3></th>
                    <th scope="col"><h3>Lesson</h3></th>
                    <th scope="col"><h3>Potential Badges</h3></th>
                    <th scope="col"><h3>Try It</h3></th>
                </tr>
            </thead>
            <tbody>

            <!--
                Populate using request body
            -->
            {{#each reqbody}}
            <tr>
                <td class="left-col">{{subject}}</td>
                <td class="left-col">{{title}}
                    <ul>
                        <li class="diff">{{difficulty}}</li>
                        <li>{{questions.length}} questions</li>
                    </ul>
                </td>
                <td>[Badge icons]</td>
                <td><a id="{{_id}}" class="btn btn-success start">Start</a></td>
            </tr>
            {{/each}}

            </tbody>
        </table>

    </div>
    </main>

    <br>
    <footer>Copyright &copy; 2020 Untitled Learning Platform</footer>
</body>
</html>