<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Question - Untitled Learning Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/site.css">
    <script src="/public/quizControls.js"></script>
</head>
<body onload="setup('{{reqbody.questions}}', {{reqbody.curQuestion.answer}})">
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/profile">My Profile</a></li>
    </ul>

    <div class="jumbotron text-center">
        <h1>{{reqbody.lessonTitle}}</h1>
    </div>

    <main>
    <div class="container">

        <h3 id="q-title">{{reqbody.curQuestion.question}}</h3><br>

        <img src="">
        
        <table class="table table-borderless">
            <tbody>
            <tr>
                <td><a href="#" id="q-mc-0" class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[0]}}</a></td>
                <td><a href="#" id="q-mc-1" class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[1]}}</a></td>
            </tr>

            <tr>
                <td><a href="#" id="q-mc-2" class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[2]}}</a></td>
                <td><a href="#" id="q-mc-3" class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[3]}}</a></td>
            </tr>
            </tbody>
        </table>
    
        <div>
            <p id="selected-ans" hidden>Selected answer:</p>
            <button type="submit" class="btn btn-success" id="submit">Submit Answer</button>
        </div>

        <br>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary" id="prev">Previous</button>
            <button type="button" class="btn btn-secondary" id="next">Next</button>
        </div>

    </div>
    </main>

    <br>
    <footer>Copyright &copy; 2020 Untitled Learning Platform</footer>
</body>
</html>