<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Question - Quizzo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/site.css">
    <script src="/public/quizControls.js"></script>
</head>

<body onload="setup('{{reqbody.questions}}', '{{reqbody.curQuestion.answer}}', '')">
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/profile">My Profile</a></li>
    </ul>

    <div class="jumbotron text-center">
        <h1>{{reqbody.lessonTitle}}</h1>
    </div>

    <main>
        <div class="container">

            <h3 id="q-title">{{reqbody.curQuestion.question}}</h3><br>

            <img src="">

            <form action="/question" method="POST">
                <table class="table table-borderless">

                    <tr>
                        <td class="btn btn-block btn-primary">
                            <label for="q-mc-0">{{reqbody.curQuestion.choices.[0]}}</label>
                            <input required name="mc" type="radio" id="q-mc-0"
                                value="{{reqbody.curQuestion.choices.[0]}}" onclick="selectChoice(0)">
                        </td>
                        <td class="btn btn-block btn-primary">
                            <label for="q-mc-1">{{reqbody.curQuestion.choices.[1]}}</label>
                            <input required name="mc" type="radio" id="q-mc-1"
                                value="{{reqbody.curQuestion.choices.[1]}}" onclick="selectChoice(1)">
                        </td>
                    </tr>

                    <tr>
                        <td class="btn btn-block btn-primary">
                            <label for="q-mc-2">{{reqbody.curQuestion.choices.[2]}}</label>
                            <input required name="mc" type="radio" id="q-mc-2"
                                value="{{reqbody.curQuestion.choices.[2]}}" onclick="selectChoice(2)">
                        </td>
                        <td class="btn btn-block btn-primary">
                            <label for="q-mc-3">{{reqbody.curQuestion.choices.[3]}}</label>
                            <input required name="mc" type="radio" id="q-mc-3"
                                value="{{reqbody.curQuestion.choices.[3]}}" onclick="selectChoice(3)">
                        </td>
                    </tr>

                </table>

                <input type="submit" class="btn btn-success" id="submit" value="Submit Answer">
                <p id="selected-ans" hidden>Selected answer:</p>
            </form>



            <div class="btn-group" role="group">
                <a href="prev" class="btn btn-secondary" id="prev">Previous</a>
                <a href="next" class="btn btn-secondary" id="next">Next</a>
            </div>

        </div>
    </main>

    <br>
    <footer>Copyright &copy; 2020 Quizzo</footer>
</body>

</html>