<body onload="changeDifficultyText(); setup();">
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/profile">My Profile</a></li>
    </ul>

    <div class="jumbotron text-center">
        <h1>My Profile</h1>
    </div>

    <main>
        <div class="container">

            <div class="row">
                <div class="col-md-12 dashboard-column">
                    <img id="profile_photo" src="/public/images/profile.png">
                    <h2 id="name">{{reqbody.name}}</h2>
                    <h4 id="email">{{reqbody.email}}</h4>
                    <br>
                    <p>Completed Lessons: {{reqbody.completedLessons.length}}</p>
                    <p>Badges Earned: {{reqbody.badges.length}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 dashboard-column">
                    <h2 id="ip">Lessons In Progress</h2>

                    <!--
                    Populate using request body
                -->
                    {{#each reqbody.lessons}}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item diff">{{difficulty}}</li>
                                <li class="list-group-item">0% complete</li>
                            </ul>
                            <br>
                            <a id="{{_id}}" class="btn btn-primary open-lesson">Continue</a>
                            <a id="{{_id}}" class="btn btn-danger drop-lesson">Drop</a>
                        </div>
                    </div>
                    {{/each}}

                </div>
            </div>

            <div class="row">
                <div class="col-md-8 dashboard-column">
                    <h2 id="ip">Completed Lessons</h2>

                    <!--
                    Populate using request body
                -->
                    {{#each reqbody.completedLessons}}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h4 class="card-title">{{title}}</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item diff">{{difficulty}}</li>
                                <li class="list-group-item">{{questions.length}} questions</li>
                            </ul>
                            <br>
                            <a id="{{_id}}" class="btn btn-primary open-lesson">Open</a>
                        </div>
                    </div>
                    {{/each}}

                </div>
                <div class="col-md-2 dashboard-column">
                    <h2 id="badges">Badges Earned</h2>

                    <!--
                    Populate using request body
                -->
                    {{#each reqbody.badges}}
                    <img class="badge-icon rounded-circle" title="{{name}}" src="/public/images/{{file}}">
                    {{/each}}

                </div>
            </div>
        </div>
    </main>

    <br>
    <footer>Copyright &copy; 2020 Quizzo</footer>
</body>