<body onload="setupQuiz('{{reqbody.questions}}', {{reqbody.curQuestion.answer}})">
    <ul class="navbar">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/lessons">Browse Lessons</a></li>
        <li><a href="/profile">My Profile</a></li>
    </ul>

    <div class="jumbotron text-center">
        <h1>{{reqbody.lessonTitle}}</h1>
    </div>

    <main>
        <div class="container">

            <h3 id="q-title">{{reqbody.curQuestion.question}}</h3><br>

            <!--img src=""-->

            <table class="table table-borderless">

                <tr>
                    <td><button type="button" name="multiple-choice"
                            class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[0]}}</button></td>
                    <td><button type="button" name="multiple-choice"
                            class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[1]}}</button></td>
                </tr>

                <tr>
                    <td><button type="button" name="multiple-choice"
                            class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[2]}}</button></td>
                    <td><button type="button" name="multiple-choice"
                            class="btn btn-block btn-primary">{{reqbody.curQuestion.choices.[3]}}</button></td>
                </tr>

            </table>


            <p id="selected-ans" hidden>Selected answer:</p>
            <button type="submit" class="btn btn-success" id="submit">Submit Answer</button>

            <br>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" id="prev">Previous</button>
                <button type="button" class="btn btn-secondary" id="next">Next</button>
            </div>

        </div>
    </main>

    <br>
    <footer>Copyright &copy; 2020 Untitled Learning Platform</footer>
</body>